.container {
  min-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .container {
    min-width: $tablet-width;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    min-width: $desktop-width;
  }
}
