.header {
  padding-top: 22px;
  display: flex;
  flex-wrap: wrap;
}

.header__list {
  width: 100%;

  @include reset-list;
  @include text(17px, 24px);
  font-weight: bold;
  color: $black;
}

.header__item {
  padding-left: 23.75%;
  padding-right: 9.375%;

  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
}

.header__nav {
  margin-top: 22px;
  width: 100%;
}

.header__link {
  display: block;
  padding: 27.5px 0;
  color: inherit;
  text-decoration: none;
}

.header__logo {
  margin-left: 36.5625%;
}

.header__button-menu {
  align-self: center;
  margin-left: auto;
  margin-right: 9.375%;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background: $black;
}
