.header__wrapper {
  position: relative;
  display: flex;
  padding: 22px 0;
}

.header__list {
  @include reset-list;
  @include text(17px, 24px);
  font-weight: bold;
  color: $black;

  &--visibility {
    display: none;
  }
}

.header__item {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    width: 100vw;
    height: 0.5px;
    background: #ececec;

    content: "";
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: calc(50% - 50vw);
    width: 100vw;
    height: 0.5px;
    background: #ececec;

    content: "";
  }
}

.header__link {
  position: relative;
  display: block;
  padding: 27.5px 0;
  padding-left: 76px;
  padding-right: 30px;
  color: inherit;
  text-decoration: none;
}

.header__svg {
  position: absolute;
  top: 40.50632911392405%;
  left:  33px;
  opacity: 0.2;
}

.header__logo {
  margin: auto;
}

.header__ship {
  display: none;
  @include text(15px, 24px);
}

.header__button-menu {
  position: absolute;
  top: 30px;
  right: 30px;
  align-self: center;
  margin-left: auto;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background: url("../img/icon-menu-close.svg");
}

@media (min-width: $tablet-width) {
  .header__wrapper {
    padding: 0;
  }

  .header__ship {
    order: 2;
    display: block;
    margin: 0;
    margin-left: auto;
    margin-top: 18px;
    padding-right: 48px;
  }

  .header__logo {
    margin: 0;
    padding: 21px 0;
    padding-left: 50px;
  }

  .header__nav {
    display: flex;
    flex-wrap: wrap;
  }

  .header__list {
    &--small-width {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      width: auto;
    }
    &--order {
      order: 1;
      display: flex;
      padding-left: 25px;
      width: 55.98958333333333%;
    }

    &--order .header__link {
      padding: 18px 25px;
      padding-right: 14px;
      font-size: 15px;
    }
  }

  .header__item {
    &::before,
    &::after {
      content: none;
    }
  }

  .header__link {
    padding: 32px 0;

    &--basket {
      padding-right: 52px;
      padding-left: 81px;
    }

    &--search {
      display: flex;
      margin-left: auto;
      min-width: 82px;
      text-indent: -5000px;
      box-shadow: 1px 0 0 #ececec, -1px 0 0 #ececec;
    }

    &--search .header__svg {
      position: static;
      margin: auto;
    }
  }

  .header__svg {
    left: 36px;
  }

  .header__logo-img {
    width: 112px;
    height: 46px;
  }

  .header__button-menu {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header__nav {
    max-width: 1150px;
    margin: auto;
  }

  .header__link {
    &--basket {
      padding-left: 85px;
    }
  }
  .header__list {
    &--order {
      order: 0;
      padding: 0 15px;
      width: 43.47826086956522%;
    }

    &--order .header__link {
      padding: 30px 35px;
      @include text(17px, 24px);
    }

    &--small-width {
      order: 2;
    }

    &--visibility {
      order: 3;
      display: flex;
      padding-left: 20px;
      @include text(17px, 24px);
    }

    &--visibility .header__link {
      @include text(15px, 24px);
      padding: 18px 30px;
    }
  }

  .header__wrapper {
    order: 1;
  }

  .header__ship {
    order: 4;
    padding-right: 50px;
  }

  .header__logo {
    padding: 0;
    padding-top: 9px;
  }

  .header__logo-img {
    width: 149px;
    height: 72px;
  }
}
